/Attribute$Source.class
/Attribute$Type.class
/Attribute.class
/DefiniteAssignment.class
/Pair.class
/SyntacticElement$Impl.class
/SyntacticElement.class
/SyntaxError$InternalFailure.class
/SyntaxError.class
/TypeChecker.class
